.jumbotron-main{
	background: grey url('https://scontent.fblr11-1.fna.fbcdn.net/v/t1.0-9/s960x960/62441740_1265324653622476_7714055872602701824_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_ohc=WM_i37WtzzgAX9kLH1A&_nc_ht=scontent.fblr11-1.fna&_nc_tp=7&oh=81b212de674bcc615634cbecabb15dcb&oe=5EE152DA') center;
	text-align: center;
	margin-top: 0px;
	padding-top: 0px;
	height: 350px;
	}

 .jumbotron-sub{
 	background: grey url('https://scontent.fblr11-1.fna.fbcdn.net/v/t1.0-9/s960x960/62441740_1265324653622476_7714055872602701824_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_ohc=WM_i37WtzzgAX9kLH1A&_nc_ht=scontent.fblr11-1.fna&_nc_tp=7&oh=81b212de674bcc615634cbecabb15dcb&oe=5EE152DA') center;
 	height: 200px;
 	text-align: center;
 }  
.btn{
	align-content: center;
}
p.lead{
	font-size: 30px;
	font-style: bold;
	font-family: arial;
	color: #003153;
	background:white;
	opacity: 60%;
 }
 .jumbotron-main{
	padding-top: 0px;
 	
 }
.margin-right{
          margin-right: 20px;
}
.img{
     width: 100px;
     height: 150px;
}

 .jumbotron-main h1{
 	color: #800000;
 	font-weight: bold;
 	font-size: 80px;
 	margin-top: 0px;
 }
 .jumbotron-sub h1{
 	font-weight: bold;
 	color: #000080;
 }
 .jumbotron p.lead{
 	margin-top: 30px;
 }
.navbar{
	padding: 0;
	margin:0;
	color: black;
}
.navbar a{
	font-size: 25px;
}
.navbar a:hover{
	border-bottom: #C0392B 3px solid;
	font-style: bold;
	font-family: Arial;
	margin-bottom: 0px;
}
.hr{
	border-style: 5px bold;
}
.center{
	text-align: center;
	align-items: center;

}
.font-bold{
	font-family: arial;
	font-size: 70px;
}
.back{
	border-bottom: maroon 3px solid;
	margin-bottom: 50px;

}
.left{
	margin-left: 30px;
}
.right{
	margin-right: 30px;
}
.navbar-brand{
	color: red;
	font-size: 50px;
}
.card-margin{
	margin-right:100px;
	margin-left: 100px;
	margin-bottom: 150px;
}
.shadow{
	text-shadow: 1px 4px grey;
}